[bumpversion]
current_version = 0.2.1
allow_dirty = False
commit = True
tag = True
tag_name = v{new_version}
message = Version bumpup: {current_version} -> {new_version}

[bumpversion:file:mix.exs]
search = version: "{current_version}"
replace = version: "{new_version}"
